name: OWASP ZAP DAST Scan

on:
  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Start Flask App
      run: |
        pip install -r requirements.txt
        nohup python app.py &  
        sleep 5

    - name: ZAP Baseline Scan
      uses: zaproxy/action-baseline@v0.10.0
      with:
        target: 'http://127.0.0.1:5000'
        rules_file_name: '.zap/rules.tsv'
